<h1> 결과는? </h1>
<p> <%= @user%>는  </p>
<%= image_tag ("http://cfile8.uf.tistory.com/image/2340FB44557A31F01ABC0B")%> </br>
<%= @result[0] %> 한 스푼 </br>
<%= @result[1] %> 두 스푼  </br>
<%= @result[2] %> 엄청 많이