<div class = "container-fluid">
	<%= image_tag "http://class.likelion.net/assets/likelion_text-b7b5aed6954af442181e1a7b82bf265963638a731bcfd839f343845c28a0947f.png" %> </br> </br> 

	<h1> 홍동우의 WINTER LIKELION </h1> <hr>

	<%= link_to "/posts/index" do %>
	  <%= image_tag "https://lh4.ggpht.com/pm1YohQXLvqIjWVVXW-ckUy32wPK_C71B8buWEw5f0P2_3nA7NYCOov_dWdjnpcIUir1=w300" %>
	<% end %>

	<%= link_to "/random/index" do %>
	  <%= image_tag "http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s640-l65" %>
	<% end %>
</div>
